**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis


- Include your team's hypothesis
- Ensure that this hypothesis is clear to readers
- Explain why you think this will be the outcome (what was your thinking?)

What is your main hypothesis/predictions about what the answer to your question is? Briefly explain your thinking. (2-3 sentences)

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## Dataset #1 World Happiness Report Dataset

In [36]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
import pandas as pd

In [37]:
happiness_df = pd.read_csv("WorldHappinessReport2024.csv")
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,2.298

In [38]:
#Shortening column names and dropping residual column because it is not relevant to our EDA
column_names = ['Country name', 'Ladder score', 'upperwhisker', 'lowerwhisker',
       'Log GDP per capita', 'Social support', 'Life expectancy', 'Freedom', 
       'Generosity', 'Corruption', 'Dystopia + residual']
happiness_df.columns = column_names
happiness_df = happiness_df.drop('Dystopia + residual', axis = 'columns')
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Life expectancy,Freedom,Generosity,Corruption
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193

In [39]:
#Looking for null values
happiness_df.isna().sum()

Country name          0
Ladder score          0
upperwhisker          0
lowerwhisker          0
Log GDP per capita    3
Social support        3
Life expectancy       3
Freedom               3
Generosity            3
Corruption            3
dtype: int64

In [40]:
#Finding the rows with the missing values
happiness_df.loc[happiness_df['Log GDP per capita'].isna()]

,Country name,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Life expectancy,Freedom,Generosity,Corruption
61,Bahrain,5.959,6.153,5.766,NaN,NaN,NaN,NaN,NaN,NaN
87,Tajikistan,5.281,5.361,5.201,NaN,NaN,NaN,NaN,NaN,NaN
102,State of Palestine,4.879,5.006,4.753,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#dropping these rows
happiness_df = happiness_df.dropna()
happiness_df.shape

(140, 10)

The numbers would be more contextualized if they represented the percent contribution to the ladder score, so the data will be changed to the value divided by the corresponding ladder score for each country.

In [42]:
happiness_df = happiness_df.assign(Prop_GDP = happiness_df['Log GDP per capita'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Social_Support = happiness_df['Social support'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Life_Expec = happiness_df['Life expectancy'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Freedom = happiness_df['Freedom'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Generosity = happiness_df['Generosity'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Corruption = happiness_df['Corruption'] / happiness_df['Ladder score'])
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Life expectancy,Freedom,Generosity,Corruption,Prop_GDP,Prop_Social_Support,Prop_Life_Expec,Prop_Freedom,Prop_Generosity,Prop_Corruption
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,0.238212,0.203075,0.089782,0.110968,0.018344,0.070534
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,0.251615,0.200448,0.092180,0.108532,0.026902,0.072267
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,0.249967,0.214884,0.095415,0.108837,0.034286,0.024186
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,0.255719,0.204385,0.098584,0.114107,0.030093,0.071351
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,0.245607,0.206103,0.100804,0.087318,0.020842,0.026291

In [43]:
#removing old columns
happiness_df = happiness_df.drop(['Log GDP per capita', 'Social support', 'Life expectancy', 'Freedom', 
       'Generosity', 'Corruption'], axis = 'columns')
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Prop_GDP,Prop_Social_Support,Prop_Life_Expec,Prop_Freedom,Prop_Generosity,Prop_Corruption
0,Finland,7.741,7.815,7.667,0.238212,0.203075,0.089782,0.110968,0.018344,0.070534
1,Denmark,7.583,7.665,7.500,0.251615,0.200448,0.092180,0.108532,0.026902,0.072267
2,Iceland,7.525,7.618,7.433,0.249967,0.214884,0.095415,0.108837,0.034286,0.024186
3,Sweden,7.344,7.422,7.267,0.255719,0.204385,0.098584,0.114107,0.030093,0.071351
4,Israel,7.341,7.405,7.277,0.245607,0.206103,0.100804,0.087318,0.020842,0.026291

In [44]:
happiness_df.describe()

,Ladder score,upperwhisker,lowerwhisker,Prop_GDP,Prop_Social_Support,Prop_Life_Expec,Prop_Freedom,Prop_Generosity,Prop_Corruption
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,5.530893,5.644057,5.417700,0.248967,0.203346,0.093806,0.113221,0.027542,0.027307
std,1.181247,1.165108,1.198051,0.058295,0.045912,0.024102,0.029188,0.015279,0.018912
min,1.721000,1.775000,1.667000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.631750,4.762250,4.503750,0.219967,0.190063,0.082304,0.101023,0.016618,0.012341
50%,5.800500,5.911000,5.676500,0.254904,0.207231,0.095255,0.110909,0.025741,0.023658
75%,6.426250,6.515250,6.338250,0.277394,0.226879,0.103766,0.126272,0.036053,0.037762
max,7.741000,7.815000,7.667000,0.508681,0.359730,0.205393,0.207596,0.092099,0.088150

## Dataset #2 (if you have more than one, use name instead of number here)

In [ ]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |